@model ClientesModel
@{
    ViewData["Title"] = "Cadastrar Cliente";
}

<h3>Cadastrar Cliente</h3>
<form asp-controller="Clientes" asp-action="AdicionarCliente" class="row g-3" method="post">
    <div class="col-md-10">
        <label for="Nome Completo" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" id="nome" placeholder="Digite o nome Completo" required="true">
    </div>
    
    <div class="col-md-2">
        <label for="Data Nascimento" class="form-label">Data de Nascimento</label>
        <input type="date" asp-for="Nascimento" class="form-control" id="DataNascimento" value="" required="true">
    </div>


    <! ENDEREÇO >
    <div class="col-md-2">
        <label for="TipoLogradouro" class="form-label">Tipo Logradouro</label>
        <select asp-for="TipoLogradouro" name="TipoLogradouro" class="form-select form-control" aria-label="Small select example" required="true" name="TipoLogradouro">
            <option>Selecione</option>
            @foreach(var x in Model.TiposLogradouros)
            {
                <option value="@x.Value">@x.Name</option>
            }
        </select>
    </div>
    
    <div class="col-md-8">
        <label for="Logradouro" class="form-label">Endereço</label>
        <input type="text" asp-for="Logradouro" name="Logradouro" class="form-control" placeholder="Digite o endereço" required="true">
    </div>

    <div class="col-md-2">
        <label for="Numero" class="form-label">Número</label>
        <input type="text" asp-for="Numero" name="Numero" class="form-control" placeholder="Número" required="true">
    </div>


    <div class="col-md-3">
        <label for="Complemento" class="form-label">Complemento</label>
        <input type="text" asp-for="Complemento" name="Complemento" class="form-control" placeholder="Complemento">
    </div>
    
    <div class="col-md-2">
        <label for="CEP" class="form-label">CEP</label>
        <input type="text" asp-for="CEP" name="CEP" class="form-control" placeholder="CEP" required="true">
    </div>

    <div class="col-md-7">
        <label for="Bairro" class="form-label">Bairro</label>
        <input type="text" asp-for="Bairro" name="Bairro" class="form-control" placeholder="Bairro" required="true">
    </div>

   <div class="col-md-3">
       <label for="Cnh" class="form-label">Número CNH</label>
        <input type="text" asp-for="Cnh" class="form-control" name="Cnh" placeholder="CNH n.°" required="true" />
   </div>

    <div class="col-md-2">
        <label for="VencimentoCNH" class="form-label">Venc. CNH</label>
        <input type="date" asp-for="VencimentoCnh" class="form-control" name="VencimentoCNH" placeholder="CNH Venc." value="" required="true" />
    </div>

    <div class="col-md-3">
        <label for="CPF" class="form-label">CPF</label>
        <input type="text" asp-for="Cpf" class="form-control" name="CPF" placeholder="CPF n.°" required="true" />
    </div>

    <div class="col-md-4">
        <label for="NumeroCustodia" class="form-label">N.° Custódia</label>
        <input type="text" asp-for="NumeroCustodia" class="form-control" name="NumeroCustodia" required="true" placeholder="Número Custódia" />
    </div>

    <div class="col-md-1">
        <label for="DDD" class="form-label">DDD</label>
        <input type="text" asp-for="DDD" class="form-control" name="DDD" placeholder="(XX)" required="true" />
    </div>
    <div class="col-md-3">
        <label for="WhatsApp" class="form-label">WhatsApp</label>
        <input type="text" asp-for="WhatsApp" class="form-control" name="WhatsApp" placeholder="Whatsapp" required="true" />
    </div>

    <div class="col-md-8">
        <label for="Email" class="form-label">E-Mail</label>
        <input type="email" asp-for="Email" name="Email" class="form-control" placeholder="exemplo&#64.com.br" required="false"/>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
</form>     