@{
    ViewData["Title"] = "Clientes";
}
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-primary me-md-2" type="button" asp-controller="Clientes" asp-action="AdicionarCliente">Adicionar Cliente</a>
</div>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Contato</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Carlos</td>
                <td>99999999</td>
                <td>
                    <div class="gap-2 col-6 mx-auto" style="gap:1rem">
                        <button type="button" class="btn btn-outline-primary">Editar</button><button type="button" class="btn btn-outline-danger">Apagar</button>
                    </div>
                </td>
            </tr>
            </tbody>
    </table>

</div>